<div class="container">
	<div class="league-name">
		<h2>League Name</h2>
	</div>
	<div class="standings">
		<h2>Standings</h2>
		<% @teams.each do |team| %>
			<li><%= team.name %></li>
		<% end %>
	</div>
	<div class="sidebar">
		<h2>Matchups</h2>
		<div class="matchup">
			<div class="teams">
				<% @teams.each do |team| %>
					<li><%= team.name %></li>
				<% end %>
			</div>
			
			<div class="score">
				<p>Steps: <%= @summary %></p>
			</div>
		</div>
	</div>
</div>