<div class="container">
	<div class="league-name">
		<h2>League Name</h2>
	</div>
	<div class="standings">
		<h2>Standings</h2>
	</div>

	<div class="sidebar">
		<h2>Matchups</h2>
		<div class="matchup">
			<div class="teams">
				<h5>Matchup1</h5>
			</div>
			
			<div class="score">
				<p>score</p>
			</div>
		</div>
	</div>
</div>