<span> <%= link_to "Create League", "/leagues/new" %> </span>

<div class="league-list">
	<h1> Leagues </h1>
	<% @leagues.each do |league| %>
		<li><a href="/leagues/<%= league.id %>/teams"><%= league.name %></a></li>
	<% end %>
</div>

