<% if current_user %>
	<!-- <p> Welcome back <%= current_user.name %> </p> -->

	<div class="container">
		<div class="logo">
			<h1>Healthy</h1>
			<h1>Competition</h1>

		</div>
		<div class="signin">
			<% if :team_name === nil %>
				<a href="/teams/new"><h4>I'm ready to get fit!</h4></a>
			<% else %>
				<a href="/teams"><h4>I'm ready to get fit!</h4></a>
			<% end %>

			Steps for the week: <%= @weekly_steps.body %>
		</div>





<!-- 
		<%= @response.body %>
		</br>
		</br>
		Steps: <%= @summary %>
		</br>
		</br>
		
		
		
		




<% end %>