<% if current_user %>
	<!-- <p> Welcome back <%= current_user.name %> </p> -->

	<div class="container">
		<div class="logo">
			<h1>Healthy <br> Competition</h1>

		</div>
		<div class="signin">
			<% if :league_name === nil %>
				<a href="/auth/fitbit"><h4>I'm ready to get fit!</h4></a>
			<% else %>
				<a href="/auth/fitbit"><h4>I'm ready to get fit!</h4></a>
			<% end %>
		
		</div>

<% end %>





<!-- 
		<%= @response.body %>
		</br>
		</br>
		Steps: <%= @summary %>
		</br>
		</br>
		
		
	