h2{
	margin: 0;
}

.container{
	height: 100%;
	width: 100%;
	background-color: green;
}

.league-name{
	width: 60%;
	height: 10%;
	border: 1px solid white;
	float: left;
	position: absolute;
	top: 15%;
	left: 10%;
	h2{
		text-align: center;
	}
}
.standings{
	height: 60%;
	width: 60%;
	border: 1px solid white;
	position: absolute;
	top: 25%;
	left: 10%;
	h2{
		text-align: center;
		text-decoration: underline;
		color: white;
	}
}

.sidebar{
	height: 100%;
	width: 20%;
	border-left: 1px solid white;
	float: right;
	h2{
		color: white;
		text-align: center;
		text-decoration: underline;
		margin-top: 10%;
	}
}

.matchup{
	width: 90%;
	height: 20%;
	margin: 0 auto;
	border: 1px solid black;
	margin-top: 5%;	
}

.teams{
	width: 60%;
	height: 100%;
	border: 1px solid black;
	float: left;
}

.score{
	width: 30%;
	height: 100%;
	float: right;
	border: 1px solid black;
}
