.container{
	height: 100%;
	width: 100%;
	background-color: rgba(0,220,0,0.4);

}

.logo{
	width: 30%;
	height: 50%;
	border: 1px solid white;
	border-radius: 60%;
	position: absolute;
	top: 15%;
	left: 35%;
	h1{
		font-size: 4em;
		color: white;
		font-family: 'Courgette', cursive;
		text-align: center;
		margin-top: 1em;
	}
}
.signin{
	width: 20%;
	height: 10%;
	border: 1px solid white;
	position: absolute;
	top: 70%;
	left: 40%;
	background-color: rgba(0,0,0,0.3);
	h4{
		text-align: center;
	}
	a{
		text-decoration: none;
		color: #fff;
	}
}